.playListItem {
  padding-left: 4px !important;
  padding-right: 2px !important;
}

.playListItem .playListItem-index,
.playListItem .currentPlay-icon {
  display: inline-block;
  width: 10px;
  padding-top: 3px;
  margin-right: 7px;
}
.playListItem .playListItem-index {
  padding-left: 4px;
  font-size: 12px;
}
.playListItem .currentPlay-icon .MuiSvgIcon-root {
  font-size: 13px;
}

.playListItem img {
  width: 64px;
  height: 36px;
  margin-right: 8px;
}

.playListItem .videoTitle {
  width: 123px;
  height: 36px;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.playListItem .delete-icon.MuiIconButton-root {
  display: block;
  padding: 4px;
}
.playListItem .delete-icon .MuiSvgIcon-root {
  font-size: 16px;
}
