.logo {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-right: 10px;
  font-family: "Carter One", cursive;
}
.logo a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 599px) {
  .logo {
    font-size: 18px;
  }
}
